body{
    background-color: #cccccc;
    flex-flow: row nowrap;    
    font-size: x-large;
    text-align: center;
    

   
}
#login{
flex: content;
background-color: darkgrey;

}
#rooms{
    float: left;
    align-items: center;
    background-color: darkolivegreen;
    margin-top: 250px;
    
}
